<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Katalk Reader</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
  <body>
    <div class="header">
      <h1>KakaoTalk TXT File Reader</h1>
    </div>
    <div class="contents">
      <form class="pure-form" action="" method="POST" enctype="multipart/form-data">
        <fieldset>
          <input type="file" name="file_upload" value="" />
          <button class="pure-button pure-button-primary" type="submit" formaction="/upload">Upload</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
